section#meio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#coluna1 {
    width: 700px; 
    max-width: 75%; 
    padding: 20px;
    box-sizing: border-box; 
} 

#informacoes {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AEB9BF;
    border-radius: 10px;
    max-width: 100%;
}

#informacoes h1 {
    font-size: 30pt;
}

#informacoes h2 {
    color: black;
}

#ilustracao {
    height: 500px;
    max-width: 100%;
}

#botaoEntrar {
    background-color:black;
    border-style: none;
    color:white;
    border-radius: 50px;
    height: 50px;
    width: 400px;
    max-width: 100%;
    margin-top: 25px;
}

#botaoEntrar:hover {
    background-color: #404040;
}