.homePage {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
}

.menu {
  background-color: var(--secundary);
  height: 30px;
  display: flex;
  justify-content: end;
  gap: 40px;
  align-items: center;
}

.menu .navegacaoMenu {
  text-decoration: none;
  margin-right: 40px;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.menu .navegacaoMenu:hover {
  color: aliceblue;
}
.editar {
  padding-left: 350px;
  padding-bottom: 10px;
}
.editarButton {
  background-color: gray;
  padding: 5px;
  border-radius: 4px;
  color: var(--secundary);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.campoPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  padding-top: 10px;
  width: 450px;
  height: 80vh;
  border-radius: 4px;
}

.container .campoPerfil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.profileName {
  margin-top: 10px;
}

.profileDetails {
  text-align: left;
  margin-bottom: 20px;
  padding-top: 20px;
  width: 400px;
}

.profileItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
}

.profileItem:first-child {
  border-top: none;
}

.logout {
  text-align: left;
}

.logoutButton {
  background: none;
  border: none;
  color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout-button span {
  margin-left: 5px;
}
