.homePage {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
}

.menu {
  background-color: var(--secundary);
  height: 30px;
  display: flex;
  justify-content: end;
  gap: 40px;
  align-items: center;
}

.menu.rolar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secundary);
  z-index: 1000;
}

.menu .navegacaoMenu {
  margin-right: 40px;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.menu .navegacaoMenu:hover {
  color: aliceblue;
}

#paginaAtual {
  color: white;
}

.container {
  display: flex;
}

.campoPerfil {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-left: 100px;
  width: 300px;
  height: 500px;
}

.container .campoPerfil img {
  margin-top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

.container .campoVagas {
  margin-top: 100px;
  margin-left: 50px;
  width: 800px;
  max-width: 700px;
  min-width: 500px;
  min-height: 700px;
  height: auto;
}

.nomeUsuario {
  text-align: center;
  width: 200px;

  white-space:  nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.endereco,
.pessoais,
.empresa {
  padding: 20px;
  background-color: var(--white);
  border: 2px black solid;
  margin-bottom: 30px;
}

.endereco h1,
.pessoais h1,
.empresa h1{
  text-align: center;
  background-color: #727272;
}

.empresa h1{
  text-align: center;
  background-color: #727272;
}

.divEndereco,
.divPessoais,
.divEmpresa{
  padding: 20px 0px 0px 30px;
}

.botaoPerfil {
  text-decoration: none;
  margin-top: 30px;
  align-items: center;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: .5s;
}

#editar:hover {
  background-color: var(--secundary);
  color: var(--white);
}

#sair:hover {
  background-color: rgb(179, 1, 1);
  color: var(--white);
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #dfdfdf;
  box-shadow: #dfdfdf -20px 0px, #dfdfdf 20px 0px;
  animation: l18 1.2s infinite;
}

@keyframes l18 {
  25% {
    box-shadow: #dfdfdf -15px -15px, #dfdfdf 15px 15px;
  }

  50% {
    box-shadow: #dfdfdf 0px -20px, #dfdfdf 0px 20px;
  }

  75% {
    box-shadow: #dfdfdf 15px -15px, #dfdfdf -15px 15px;
  }

  100% {
    box-shadow: #dfdfdf 20px 0px, #dfdfdf -20px 0px;
  }
}

.post{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
  border: 1px black solid;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.post .logoPost {
  height: 100px;
}

.post .botao {
  height: 33px;
  width: 90px;
  color: var(--white);
  background-color: rgb(167, 0, 0);
  cursor: pointer;
}