.homePage {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
}

.menu {
  background-color: var(--secundary);
  height: 30px;
  display: flex;
  justify-content: end;
  gap: 40px;
  align-items: center;
}

.menu.rolar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secundary);
  z-index: 1000;
}

.menu .navegacaoMenu {
  margin-right: 40px;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.menu .navegacaoMenu:hover {
  color: aliceblue;
}

.container {
  display: flex;
}

.campoPerfil {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-left: 100px;
  width: 300px;
  height: 500px;
}

.container .campoPerfil img {
  margin-top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

.container .campoVagas {
  margin-top: 100px;
  margin-left: 50px;
  width: 800px;
  max-width: 700px;
  min-width: 500px;
  min-height: 700px;
  height: auto;
}

.endereco,
.pessoais,
.empresa {
  padding: 20px;
  background-color: var(--white);
  border: 2px black solid;
  margin-bottom: 30px;
}

.endereco h1,
.pessoais h1,
.empresa h1{
  text-align: center;
  background-color: #727272;
}

.divEndereco,
.divPessoais,
.divEmpresa{
  padding: 20px 0px 0px 30px;
}

.empresa.remover {
  display: none;
}

.botaoPerfil {
  margin-top: 30px;
  align-items: center;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: .5s;
}

#editar:hover {
  background-color: var(--secundary);
  color: var(--white);
}

#sair:hover {
  background-color: rgb(179, 1, 1);
  color: var(--white);
}