.menu {
    background-color: var(--secundary);
    height: 30px;
    display: flex;
    justify-content: end;
    gap: 40px;
    align-items: center;
}

.menu.rolar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secundary);
    z-index: 1000;
}

.menu .navegacaoMenu {
    margin-right: 40px;
    color: black;  
    font-weight: bolder; 
    text-decoration: none;
}


.menu .navegacaoMenu:hover {
    color: aliceblue;
}

#paginaAtual{
    color: var(--white);
}

.container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .caixaBuscar {
    font-size: 16px;
    padding: 0px 50px 0px 20px;
    border: 1px black solid;
    height: 40px;
    width: 800px;
    border-radius: 8px;
    position: relative;
}

.container .lupa {
    left:77.5%;
    position: absolute;
    font-size: 22px;
}

.verMais {
    position: relative;
    width: 80%;
    height: 620px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    padding: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.verMais .fechar {
    z-index: 20;
    font-size: 35px;
    color: rgb(161, 0, 0);
    position: absolute;
    top: 0px;
    right: 10px;
}

.verMais .conteudo::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
}

.verMais .conteudo::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 10px;
}

.verMais .conteudo {
    max-height: 450px;
    overflow: hidden;
    overflow-y: scroll;
}

.verMais .sobreAVaga {
    border: 1px black solid;
    overflow-y: auto;
}

.janelaVaga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.janelaVaga.abrir {
    display: flex;
}

.abrir .verMais {
    animation: abrirVerMais 0.5s;
    margin-left: 50px;
}

.verMais .cabecalhoVaga {
    gap: 50px;
    align-items: center;
    display: flex;
}

.verMais .cabecalhoVaga .logoVaga {
    height: 100px;
    width: 100px;
}

.verMais .setores {
    font-size: 15px;
    margin: 20px 0px 10px 50px;
}

.verMais .localHorario {
    margin: 0px 0px 30px 50px;
}

.verMais .info {
    margin-bottom: 30px;
}

.verMais .botaoEmail {
    position: fixed;
    bottom: 20px; /* Distância do fundo da página */
    right: 20px; /* Distância da borda direita da página */
    background-color: #000000;
    color: #fff;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    z-index: 1000; /* Garante que esteja acima de outros conteúdos */
}

.verMais .botaoEmail h1{
    font-size: 15px;
}

.verMais .botaoEmail i{
    font-size: 15px;
}

.verMais .botaoEmail:hover {
    background-color: #ff0e0e;
}

.post {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px black solid;
    display: flex;
    height: 250px;
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.post .logoPost {
    justify-content: center;
    height: 80px;
    width: 80px;
}

.post .botao {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 15px;
    font-weight: 400;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: border-color 0.25s;
}

.post .botao:hover {
    background-color: var(--gray);
    border-color: #646cff;
}

.post .botao:focus,
.post .botao:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.post .informacoes {
    margin-left: 20px;
    flex: 1;
    overflow: hidden;
}

.post .informacoes p {
    text-align: center;
    margin: 0; 
}

