.homePage {
    display: flex;
    flex-direction: column;
}

.homePage .campoBusca {
    background-color: aliceblue;
    display: flex;
}

.homePage .corpoPagina {
    margin-top: 30px;
}

.header.rolar nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu {
    background-color: var(--secundary);
    height: 30px;
    display: flex;
    justify-content: end;
    gap: 40px;
    align-items: center;
}

.menu.rolar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secundary); 
    z-index: 1000;
}

.menu .navegacaoMenu {
    margin-right: 40px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.imgBusca {
    margin: 50px 0px 0px 50px;
    height: 250px;
    position: relative;
    justify-content: end;
}

.buscar {
    margin: 100px 0px 0px 70px;
    font-size: 20px;
    padding: 0px 50px 0px 35px;
    border-radius: 5px;
    background-color: rgba(226, 226, 226, 0.575);
    height: 40px;
    width: 457px;
    align-items: center;
    z-index: 1000;
}

.corpoPagina .titulo {
    font-size: 50px;
    text-align: center;
}

.menu .navegacaoMenu:hover {
    color: aliceblue;
}

#paginaAtual {
    color: white;
}

.campoBusca .iconeFiltro {
    top: 103px;
    left: 100px;
    position: relative;
    font-size: 24px;
}

.corpoPagina .vagas {
    opacity: 40%;
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.corpoPagina .btnVaga {
    margin-left: 20px;
    gap: 10px;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 35px;
    width: 150px;
    background-color: green;
}

.corpoPagina .btnVaga:hover {
    background-color: var(--secundary);
}
