.homePage {
    display: flex;
    flex-direction: column;
}

.menu {
    background-color: var(--secundary);
    height: 30px;
    display: flex;
    justify-content: end;
    gap: 40px;
    align-items: center;
}

.menu.rolar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secundary);
    z-index: 1000;
}

.menu .navegacaoMenu {
    margin-right: 40px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.menu .navegacaoMenu:hover {
    color: aliceblue;
}

#paginaAtual {
    color: white;
}

.homePage .campoBusca {
    background-color: aliceblue;
    display: flex;
    width: 100%;
    min-height: 250px;
}

.campoFiltro {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s;
}

.campoFiltro.abrir {
    width: 250px;
}

.campoFiltro .lupaFiltro,
.campoFiltro .btnFeichar {
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.campoFiltro .inputFiltro {
    position: absolute;
    left: 50px;
    width: calc(100%-120px);
    height: 100%;
    line-height: 50px;
}

.campoFiltro .inputFiltro input{
    top: 0;
    height: 50px;
    width: 160px;
    outline: none;
    font-size: 15px;
}

.campoFiltro .lupaFiltro i{
    font-size: 30px;
}

.campoFiltro .btnFeichar i{
    font-size: 20px;
}

.imgBusca {
    margin: 50px 0px 0px 50px;
    height: 250px;
    justify-content: end;
}

.homePage .corpoPagina {
    margin-top: 30px;
}

.corpoPagina .titulo {
    font-size: 50px;
    text-align: center;
}

.corpoPagina .vagas {
    opacity: 40%;
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.corpoPagina .linkVaga {
    text-decoration: none;
}

.corpoPagina .linkVaga .btnVaga {
    margin-left: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 35px;
    width: 150px;
    background-color: green;
}

.corpoPagina .btnVaga:hover {
    background-color: var(--secundary);
}












