.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
}

.caixaPerfil {
    margin-right: 40px;
}

.caixaPerfil p {
    font-size: 12px;
    color: var(--white);
}

.caixaPerfil img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.caixaPerfil .perfil {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.logo {
    margin-left: 30px;
    height: 90px;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}