#botaoEmail {
    position: fixed;
    bottom: 0;
    display: flex;
    border-style: none;
    height: 50px;
    width: 150px;
    right: 0;
    border-radius: 20px;
}

#botaoEmail h1 {
    margin-top: 16px;
    margin-left: 9px;
    font-size: 15px;
}

#botaoEmail i {
    font-size: 27px;
    margin-top: 10px;
}

#botaoEmail:hover {
    color: red;
}