section{
    margin-top: 90px;
    text-align: center;
}

#botaoSenha {
    font-size: 25px;
}

#loginBody label {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
}

#loginBody input {
    margin-bottom: 25px;
}

#loginBody {
    border-radius: 5px;
    width: 700px;
    height: 400px;
    background-color: rgb(228, 228, 228);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#coluna {
    margin: auto;
}