.footer {
    background-color: transparent;
    min-height: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer .icones {
    font-size: 20px;
}

.footer .logo {
    height: 20px;
}