.footer {
  background-color: rgb(245, 245, 245);
  min-height: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  bottom: 0;
  width: 100%;
}

.footer .icones {
  font-size: 20px;
}

.footer .logo {
  height: 20px;
}
